@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
	--clr-primary-orange: hsl(25, 97%, 53%);
	--clr-neutral-white: hsl(0, 0%, 100%);
	--clr-neutral-light-grey: hsl(217, 12%, 63%);
	--clr-neutral-medium-grey: hsl(216, 12%, 54%);
	--clr-neutral-dark-blue: hsl(213, 20%, 18%);
	--clr-neutral-dark-blue-secondary: hsl(213, 20%, 20%);
	--clr-neutral-very-dark-blue: hsl(214, 17%, 8%);
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Overpass", sans-serif;
	background-color: var(--clr-neutral-very-dark-blue);
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0 25px;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

p {
	font-size: 15px;
	color: var(--clr-neutral-medium-grey);
}

.attribution {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-size: 11px;
	text-align: center;
	color: hsl(228, 45%, 44%);
}

.content {
	padding: 30px;
	background: linear-gradient(
		to top,
		hsl(213, 20%, 15%) 0%,
		hsl(213, 20%, 18%) 90%,
		hsl(213, 20%, 22%) 100%
	);
	border-radius: 10px;
	max-width: 400px;
	height: 365px;
}

.rating-page,
.success-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.rating-star,
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--clr-neutral-dark-blue-secondary);
	border-radius: 50%;
}

.ratings {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.rating {
	color: var(--clr-neutral-medium-grey);
	font-size: 12px;
	transition: all 0.2s ease;
}

.selected-rating {
	color: var(--clr-neutral-white);
	background-color: var(--clr-neutral-light-grey);
}

.rating:hover {
	cursor: pointer;
	color: var(--clr-neutral-white);
	background-color: var(--clr-primary-orange);
}

.rating-title {
	color: var(--clr-neutral-white);
}

.submit-button {
	background-color: var(--clr-primary-orange);
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 25px;
	text-transform: uppercase;
	color: var(--clr-neutral-white);
	font-family: "Overpass", sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.submit-button:hover {
	background-color: var(--clr-neutral-white);
	color: var(--clr-primary-orange);
}

.submit-button:active {
	transform: scale(0.9);
	transition: 0.1s;
}

.success-page {
	align-items: center;
	color: var(--clr-neutral-white);
}

.success-selection {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-neutral-dark-blue-secondary);
	padding: 8px 15px;
	border-radius: 30px;
}

.success-selection p {
	color: var(--clr-primary-orange);
}

.success-centertext {
	text-align: center;
}
